In [75]:
import pandas as pd
import altair as alt

In [76]:
sandiego = pd.read_csv("/Users/theresaohaya/Downloads/sandiego.csv")

In [77]:
sandiego.head()

,service_request_id,service_request_parent_id,sap_notification_number,date_requested,case_age_days,case_record_type,service_name,service_name_detail,date_closed,status,...,zipcode,council_district,comm_plan_code,comm_plan_name,park_name,case_origin,referred,iamfloc,floc,public_description
0,100763,NaN,4.030001e+10,2016-08-20T14:46:00,3070,TSW,Street Sweeping,NaN,NaN,In Process,...,NaN,9.0,56.0,Mid-City:City Heights,NaN,Web,NaN,SS-014304,SS-001240,A) The storm drain channel south of 5135 Univ...
1,100777,NaN,4.030001e+10,2016-08-20T15:48:00,3070,TSW,Sidewalk Repair Issue,SIDEWALK MINOR REHAB CONTRACT,NaN,In Process,...,NaN,9.0,59.0,Mid-City:Normal Heights,NaN,Web,NaN,SS-000917-SE1,SS-000917,Curb in rubble
2,100985,NaN,4.030001e+10,2016-08-22T10:04:00,3068,TSW,Stormwater,DRAIN HEADWALL,NaN,In Process,...,NaN,6.0,15.0,Mira Mesa,NaN,Phone,NaN,HW01082,SS-019619,HILLSIDE ERODING - POSSIBLE BROKEN DRAIN
3,101169,NaN,4.030001e+10,2016-08-23T08:30:00,3067,TSW,Pavement Maintenance,DAMAGED CURB,NaN,In Process,...,NaN,8.0,37.0,Southeastern San Diego,NaN,Web,NaN,SS-019686-PV1,SS-019686,Large sections of curb broke off and have been...
4,101707,NaN,4.030000e+10,2016-08-25T15:01:00,3065,TSW,Pavement Maintenance,DAMAGED CURB,NaN,In Process,...,NaN,8.0,37.0,Southeastern San Diego,NaN,Web,NaN,SS-020300-PV1,SS-020300,the curb in front of 2220 Ocean View Blvd. nee...

In [78]:
sandiego["service_name"].value_counts()

service_name
Sidewalk Repair Issue                      13613
Street Light Maintenance                    9265
ROW Maintenance                             7287
Pavement Maintenance                        5116
Graffiti - Code Enforcement                 3489
Vegetation Encroachment                     3364
Parking Violation                           2524
Encampment                                  2520
Stormwater                                  2457
Traffic Sign Maintenance                    2190
Parks Issue                                 1984
Development Services - Code Enforcement     1808
Other                                       1440
Tree Maintenance                            1329
Traffic Engineering                         1213
Illegal Dumping                              972
Environmental Services Code Compliance       802
Graffiti - Private                           635
Missed Collection                            625
STRO Violation                               522
Stormwater Code Enforcement                  455
Trash/Recycling Collection                   400
Street Sweeping                              339
Pothole                                      326
Graffiti - Public                            320
Street Flooded                               153
Waste on Private Property                    149
Traffic Signal Issue                         124
Weed Cleanup                                  83
Traffic Signal Timing                         82
Right-of-Way Code Enforcement                 74
Dead Animal                                   56
Oversized Vehicle                              5
Parking                                        3
Bicycle-Related Issue                          1
Container Request                              1
Shared Mobility Device                         1
Name: count, dtype: int64

In [79]:
sandiego["comm_plan_name"].value_counts()

comm_plan_name
Downtown                             3449
Uptown                               3390
North Park                           2847
Clairemont Mesa                      2829
Pacific Beach                        2325
                                     ...
East Elliott                            5
NCFUA SUBAREA II                        3
FAIRBANKS RANCH COUNTRY CLUB            3
VIA DE LA VALLE                         3
Reserve Area-Not A Community Plan       2
Name: count, Length: 115, dtype: int64

In [80]:
sandiego["case_origin"].value_counts()

case_origin
Mobile                 44375
Web                    16927
Phone                   7909
Email                    410
GID Field                148
CC Self Generate         104
Internal                  49
Worker App                46
Self-Generated            44
Hauler List               17
Residential Patrol        10
Crew/Self Generated        4
Letter                     2
Walk-In                    1
Referral Notice            1
Referral                   1
FO Self Generate           1
999                        1
Special Events             1
Famosa Patrol              1
Name: count, dtype: int64

In [81]:
sandiego['service_name'].value_counts()

service_name
Sidewalk Repair Issue                      13613
Street Light Maintenance                    9265
ROW Maintenance                             7287
Pavement Maintenance                        5116
Graffiti - Code Enforcement                 3489
Vegetation Encroachment                     3364
Parking Violation                           2524
Encampment                                  2520
Stormwater                                  2457
Traffic Sign Maintenance                    2190
Parks Issue                                 1984
Development Services - Code Enforcement     1808
Other                                       1440
Tree Maintenance                            1329
Traffic Engineering                         1213
Illegal Dumping                              972
Environmental Services Code Compliance       802
Graffiti - Private                           635
Missed Collection                            625
STRO Violation                               522
Stormwater Code Enforcement                  455
Trash/Recycling Collection                   400
Street Sweeping                              339
Pothole                                      326
Graffiti - Public                            320
Street Flooded                               153
Waste on Private Property                    149
Traffic Signal Issue                         124
Weed Cleanup                                  83
Traffic Signal Timing                         82
Right-of-Way Code Enforcement                 74
Dead Animal                                   56
Oversized Vehicle                              5
Parking                                        3
Bicycle-Related Issue                          1
Container Request                              1
Shared Mobility Device                         1
Name: count, dtype: int64

In [82]:
sandiego['council_district'].value_counts()

council_district
3.0    15922
2.0     9579
9.0     8980
1.0     7956
8.0     5366
7.0     4927
4.0     4332
5.0     4250
6.0     4034
Name: count, dtype: int64

In [83]:
sandiego['date_requested'] = pd.to_datetime(sandiego['date_requested']).dt.date

In [84]:
sandiego['date_closed'] = pd.to_datetime(sandiego['date_closed']).dt.date

In [85]:
pd.to_datetime(sandiego['date_requested']).dt.year

0        2016
1        2016
2        2016
3        2016
4        2016
         ...
70065    2016
70066    2016
70067    2016
70068    2016
70069    2016
Name: date_requested, Length: 70070, dtype: int32

In [86]:
sandiego['year'] = pd.to_datetime(sandiego['date_requested']).dt.year

In [87]:
sandiego.head()

,service_request_id,service_request_parent_id,sap_notification_number,date_requested,case_age_days,case_record_type,service_name,service_name_detail,date_closed,status,...,council_district,comm_plan_code,comm_plan_name,park_name,case_origin,referred,iamfloc,floc,public_description,year
0,100763,NaN,4.030001e+10,2016-08-20,3070,TSW,Street Sweeping,NaN,NaT,In Process,...,9.0,56.0,Mid-City:City Heights,NaN,Web,NaN,SS-014304,SS-001240,A) The storm drain channel south of 5135 Univ...,2016
1,100777,NaN,4.030001e+10,2016-08-20,3070,TSW,Sidewalk Repair Issue,SIDEWALK MINOR REHAB CONTRACT,NaT,In Process,...,9.0,59.0,Mid-City:Normal Heights,NaN,Web,NaN,SS-000917-SE1,SS-000917,Curb in rubble,2016
2,100985,NaN,4.030001e+10,2016-08-22,3068,TSW,Stormwater,DRAIN HEADWALL,NaT,In Process,...,6.0,15.0,Mira Mesa,NaN,Phone,NaN,HW01082,SS-019619,HILLSIDE ERODING - POSSIBLE BROKEN DRAIN,2016
3,101169,NaN,4.030001e+10,2016-08-23,3067,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,8.0,37.0,Southeastern San Diego,NaN,Web,NaN,SS-019686-PV1,SS-019686,Large sections of curb broke off and have been...,2016
4,101707,NaN,4.030000e+10,2016-08-25,3065,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,8.0,37.0,Southeastern San Diego,NaN,Web,NaN,SS-020300-PV1,SS-020300,the curb in front of 2220 Ocean View Blvd. nee...,2016

In [88]:
sandiego['year'].value_counts()

year
2024    26788
2023    13822
2022     8063
2018     5748
2025     5242
2021     4594
2020     2832
2019     1924
2017      925
2016      132
Name: count, dtype: int64

In [89]:
sandiego.to_csv('San Diego 311 Requests.csv',index=False)

In [90]:
population = pd.read_csv("/Users/theresaohaya/Downloads/populationsd.csv")

In [91]:
population.head()

   sdcouncil  yr_id                  long_name  population
0        NaN   2010       Household Population     1737901
1        NaN   2010  Group Quarters - Military       29136
2        NaN   2010   Group Quarters - College         757
3        NaN   2010     Group Quarters - Other       25902
4        NaN   2011       Household Population     1759954

In [92]:
district_populations = 'Household Population'

In [93]:
household_population = population[population['long_name']==district_populations]

In [94]:
final_year = 2021

In [95]:
final_population = household_population[household_population['yr_id']==final_year]

In [96]:
final_population.value_counts()

sdcouncil  yr_id  long_name             population
1.0        2021   Household Population  161394        1
2.0        2021   Household Population  153544        1
3.0        2021   Household Population  198555        1
4.0        2021   Household Population  126873        1
5.0        2021   Household Population  154900        1
6.0        2021   Household Population  140195        1
7.0        2021   Household Population  159828        1
8.0        2021   Household Population  129935        1
9.0        2021   Household Population  139579        1
Name: count, dtype: int64

In [97]:
final_population.to_csv("San Diego Council District Populations.csv",index=False)

In [98]:
bad_columns = {'yr_id':'year',
               'population':'council district population',
               'sdcouncil':'council_district'
               }

In [99]:
final_population = final_population.rename(columns=bad_columns)

In [100]:
final_population.head()

     council_district  year             long_name  council district population
44                NaN  2021  Household Population                      1854255
92                1.0  2021  Household Population                       161394
140               2.0  2021  Household Population                       153544
188               3.0  2021  Household Population                       198555
236               4.0  2021  Household Population                       126873

In [101]:
final_population.to_csv("San Diego Council District Populations.csv",index=False)

In [102]:
merged_list = pd.merge(sandiego, final_population, on=['council_district','year'])

In [103]:
calls = 'Phone'

In [104]:
sandiego[sandiego['case_origin']==calls]

,service_request_id,service_request_parent_id,sap_notification_number,date_requested,case_age_days,case_record_type,service_name,service_name_detail,date_closed,status,...,council_district,comm_plan_code,comm_plan_name,park_name,case_origin,referred,iamfloc,floc,public_description,year
2,100985,NaN,4.030001e+10,2016-08-22,3068,TSW,Stormwater,DRAIN HEADWALL,NaT,In Process,...,6.0,15.0,Mira Mesa,NaN,Phone,NaN,HW01082,SS-019619,HILLSIDE ERODING - POSSIBLE BROKEN DRAIN,2016
13,104559,NaN,4.030001e+10,2016-09-09,3050,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,1.0,10.0,La Jolla,NaN,Phone,NaN,SS-023457,SS-006534,To whom it may concern:I am writing to the wom...,2016
15,106563,NaN,4.030000e+10,2016-09-19,3040,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,2.0,30.0,Peninsula,NaN,Phone,NaN,SS-002141-PV1,SS-002141,CURB IS DAMAGED.,2016
17,107101,NaN,4.030001e+10,2016-09-21,3038,TSW,Sidewalk Repair Issue,SIDEWALK MINOR REHAB CONTRACT,NaT,In Process,...,3.0,42.0,Uptown,NaN,Phone,NaN,SS-027135-SE1,SS-027135,Sidewalk raised 2-3 inches,2016
19,107423,NaN,4.030001e+10,2016-09-22,3037,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,2.0,14.0,Midway-Pacific Highway,NaN,Phone,NaN,SS-013429,SX-009667,BUSINESSES FLOOD EVERY YEAR. NEEDS DRAIN/SUMP ...,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70031,82982,NaN,4.030003e+10,2016-06-02,3149,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,9.0,58.0,Mid-City:Kensington-Talmadge,NaN,Phone,NaN,SS-013560-PV1,SS-013560,PONDING WATER IN STREET AND SIDEWALK - 15/746139,2016
70032,83413,NaN,4.030003e+10,2016-06-03,3148,TSW,Stormwater,CHANNEL,NaT,In Process,...,4.0,11.0,Encanto Neighborhoods,NaN,Phone,NaN,SS-018780,54406406,DRAIN/EASEMENT FULL OF BAMBOO FROM HER PROPERT...,2016
70038,87037,NaN,4.030001e+10,2016-06-09,3142,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,1.0,21.0,Carmel Valley,NaN,Phone,NaN,SS-023992-PV1,SS-023992,Standing water has attracted mosquitos. The c...,2016
70042,88977,NaN,4.030000e+10,2016-06-20,3131,TSW,Pavement Maintenance,CONCRETE PAVEMENT REPAIR ISSUE,NaT,In Process,...,2.0,6.0,Clairemont Mesa,NaN,Phone,NaN,SS-034417-PV1,SA-001668,LARGE POT HOLE IN ALLEY,2016
70061,96129,NaN,4.030001e+10,2016-07-27,3094,TSW,Stormwater,DRAINAGE DITCH,NaT,In Process,...,8.0,25.0,Otay Mesa-Nestor,NaN,Phone,NaN,DT00027,SS-004188-PV1,CHANNEL IS FULL OF DEBRIS AND OVERGROWN TREES ...,2016

In [105]:
empty = ''

In [106]:
sandiego[sandiego['council_district']==empty]

Empty DataFrame
Columns: [service_request_id, service_request_parent_id, sap_notification_number, date_requested, case_age_days, case_record_type, service_name, service_name_detail, date_closed, status, lat, lng, street_address, zipcode, council_district, comm_plan_code, comm_plan_name, park_name, case_origin, referred, iamfloc, floc, public_description, year]
Index: []

[0 rows x 24 columns]

In [107]:
empty_council = sandiego[sandiego['council_district'].isna()]

In [108]:
merged_list

,service_request_id,service_request_parent_id,sap_notification_number,date_requested,case_age_days,case_record_type,service_name,service_name_detail,date_closed,status,...,comm_plan_name,park_name,case_origin,referred,iamfloc,floc,public_description,year,long_name,council district population
0,3190635,3190636.0,NaN,2021-01-01,1475,TSW,Graffiti - Public,NaN,NaT,In Process,...,Downtown,NaN,Mobile,NaN,SS-005253,SS-005253,NaN,2021,Household Population,198555
1,3190636,3190635.0,NaN,2021-01-01,1475,TSW,Graffiti - Public,NaN,NaT,In Process,...,Downtown,NaN,Mobile,NaN,SS-005253,SS-005253,NaN,2021,Household Population,198555
2,3190753,NaN,4.030037e+10,2021-01-01,1475,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,Midway-Pacific Highway,NaN,Mobile,NaN,SS-029916-PV1,SS-029916-PV1,Trench filled uneven to street surface. This f...,2021,Household Population,153544
3,3190897,2440727.0,NaN,2021-01-01,1475,TSW,Sidewalk Repair Issue,CONCRETE SIDEWALK REPAIR ISSUE,NaT,In Process,...,University,NaN,Mobile,NaN,SS-018090-SE1,SS-018090,Tree at 3086 Mercer Lane damaging sidewalk and...,2021,Household Population,140195
4,3190961,NaN,4.030037e+10,2021-01-01,1475,TSW,Stormwater,DRAIN INLET,NaT,In Process,...,Clairemont Mesa,NaN,Web,NaN,IN06859,SS-019216,The storm drain lid and concrete surround appe...,2021,Household Population,153544
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4589,3620415,NaN,4.030049e+10,2021-12-31,1111,TSW,Sidewalk Repair Issue,SIDEWALK MINOR REHAB CONTRACT,NaT,In Process,...,Carmel Valley,NaN,Mobile,NaN,SS-006454-SO1,SS-006457,Sidewalk tripping hazards in front of school -...,2021,Household Population,161394
4590,3620596,NaN,4.030050e+10,2021-12-31,1111,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,Southeastern San Diego,NaN,Mobile,NaN,SS-014833-PV1,SS-014833-PV1,Major street curb damage on 19th street near K...,2021,Household Population,129935
4591,3620604,NaN,4.030050e+10,2021-12-31,1111,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,Southeastern San Diego,NaN,Mobile,NaN,SS-000449-PV1,SS-000449-PV1,Major street curb Damage Lets get the issue re...,2021,Household Population,129935
4592,3620609,3620604.0,NaN,2021-12-31,1111,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,Southeastern San Diego,NaN,Mobile,NaN,SS-000453-PV1,SS-000453-PV1,Major Street curb damage lets have the curb re...,2021,Household Population,129935
4593,3620682,3601380.0,NaN,2021-12-31,1111,TSW,Street Light Maintenance,STREET LIGHT OUT,NaT,In Process,...,Peninsula,NaN,Web,NaN,NaN,NaN,Street light burns dim. Light is between Narci...,2021,Household Population,153544

In [109]:
sandiego

,service_request_id,service_request_parent_id,sap_notification_number,date_requested,case_age_days,case_record_type,service_name,service_name_detail,date_closed,status,...,council_district,comm_plan_code,comm_plan_name,park_name,case_origin,referred,iamfloc,floc,public_description,year
0,100763,NaN,4.030001e+10,2016-08-20,3070,TSW,Street Sweeping,NaN,NaT,In Process,...,9.0,56.0,Mid-City:City Heights,NaN,Web,NaN,SS-014304,SS-001240,A) The storm drain channel south of 5135 Univ...,2016
1,100777,NaN,4.030001e+10,2016-08-20,3070,TSW,Sidewalk Repair Issue,SIDEWALK MINOR REHAB CONTRACT,NaT,In Process,...,9.0,59.0,Mid-City:Normal Heights,NaN,Web,NaN,SS-000917-SE1,SS-000917,Curb in rubble,2016
2,100985,NaN,4.030001e+10,2016-08-22,3068,TSW,Stormwater,DRAIN HEADWALL,NaT,In Process,...,6.0,15.0,Mira Mesa,NaN,Phone,NaN,HW01082,SS-019619,HILLSIDE ERODING - POSSIBLE BROKEN DRAIN,2016
3,101169,NaN,4.030001e+10,2016-08-23,3067,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,8.0,37.0,Southeastern San Diego,NaN,Web,NaN,SS-019686-PV1,SS-019686,Large sections of curb broke off and have been...,2016
4,101707,NaN,4.030000e+10,2016-08-25,3065,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,8.0,37.0,Southeastern San Diego,NaN,Web,NaN,SS-020300-PV1,SS-020300,the curb in front of 2220 Ocean View Blvd. nee...,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70065,96860,NaN,4.030001e+10,2016-07-31,3090,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,9.0,57.0,Mid-City:Eastern Area,NaN,Mobile,NaN,SS-024832-PV1,SS-024832,Water sits due to last work done on street. Wa...,2016
70066,97713,NaN,4.030001e+10,2016-08-04,3086,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,9.0,38.0,College Area,NaN,Mobile,NaN,SS-018708-PV1,SS-018708,There is stagnant water puddled beside the cur...,2016
70067,98608,NaN,4.030001e+10,2016-08-09,3081,TSW,Stormwater,DRAIN OUTFALL,NaT,In Process,...,7.0,35.0,Serra Mesa,NaN,Web,NaN,OT02726,SS-018572,CMP storm drain from Meadow Lark Dr. to channe...,2016
70068,98792,91703.0,NaN,2016-08-10,3080,TSW,Sidewalk Repair Issue,Curb Maintenance,NaT,In Process,...,9.0,59.0,Mid-City:Normal Heights,NaN,Mobile,NaN,NaN,SS-000937,This was damaged when city was fixing a sink w...,2016
70069,99646,NaN,4.030000e+10,2016-08-15,3075,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,9.0,59.0,Mid-City:Normal Heights,NaN,Web,NaN,SS-017879-PV1,SS-017879,NaN,2016

In [110]:
merged_list.head()

,service_request_id,service_request_parent_id,sap_notification_number,date_requested,case_age_days,case_record_type,service_name,service_name_detail,date_closed,status,...,comm_plan_name,park_name,case_origin,referred,iamfloc,floc,public_description,year,long_name,council district population
0,3190635,3190636.0,NaN,2021-01-01,1475,TSW,Graffiti - Public,NaN,NaT,In Process,...,Downtown,NaN,Mobile,NaN,SS-005253,SS-005253,NaN,2021,Household Population,198555
1,3190636,3190635.0,NaN,2021-01-01,1475,TSW,Graffiti - Public,NaN,NaT,In Process,...,Downtown,NaN,Mobile,NaN,SS-005253,SS-005253,NaN,2021,Household Population,198555
2,3190753,NaN,4.030037e+10,2021-01-01,1475,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,Midway-Pacific Highway,NaN,Mobile,NaN,SS-029916-PV1,SS-029916-PV1,Trench filled uneven to street surface. This f...,2021,Household Population,153544
3,3190897,2440727.0,NaN,2021-01-01,1475,TSW,Sidewalk Repair Issue,CONCRETE SIDEWALK REPAIR ISSUE,NaT,In Process,...,University,NaN,Mobile,NaN,SS-018090-SE1,SS-018090,Tree at 3086 Mercer Lane damaging sidewalk and...,2021,Household Population,140195
4,3190961,NaN,4.030037e+10,2021-01-01,1475,TSW,Stormwater,DRAIN INLET,NaT,In Process,...,Clairemont Mesa,NaN,Web,NaN,IN06859,SS-019216,The storm drain lid and concrete surround appe...,2021,Household Population,153544

In [111]:
merged_list = pd.merge(sandiego, final_population, on=['council_district'])

In [112]:
merged_list

,service_request_id,service_request_parent_id,sap_notification_number,date_requested,case_age_days,case_record_type,service_name,service_name_detail,date_closed,status,...,park_name,case_origin,referred,iamfloc,floc,public_description,year_x,year_y,long_name,council district population
0,100763,NaN,4.030001e+10,2016-08-20,3070,TSW,Street Sweeping,NaN,NaT,In Process,...,NaN,Web,NaN,SS-014304,SS-001240,A) The storm drain channel south of 5135 Univ...,2016,2021,Household Population,139579
1,100777,NaN,4.030001e+10,2016-08-20,3070,TSW,Sidewalk Repair Issue,SIDEWALK MINOR REHAB CONTRACT,NaT,In Process,...,NaN,Web,NaN,SS-000917-SE1,SS-000917,Curb in rubble,2016,2021,Household Population,139579
2,100985,NaN,4.030001e+10,2016-08-22,3068,TSW,Stormwater,DRAIN HEADWALL,NaT,In Process,...,NaN,Phone,NaN,HW01082,SS-019619,HILLSIDE ERODING - POSSIBLE BROKEN DRAIN,2016,2021,Household Population,140195
3,101169,NaN,4.030001e+10,2016-08-23,3067,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,NaN,Web,NaN,SS-019686-PV1,SS-019686,Large sections of curb broke off and have been...,2016,2021,Household Population,129935
4,101707,NaN,4.030000e+10,2016-08-25,3065,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,NaN,Web,NaN,SS-020300-PV1,SS-020300,the curb in front of 2220 Ocean View Blvd. nee...,2016,2021,Household Population,129935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70065,96860,NaN,4.030001e+10,2016-07-31,3090,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,NaN,Mobile,NaN,SS-024832-PV1,SS-024832,Water sits due to last work done on street. Wa...,2016,2021,Household Population,139579
70066,97713,NaN,4.030001e+10,2016-08-04,3086,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,NaN,Mobile,NaN,SS-018708-PV1,SS-018708,There is stagnant water puddled beside the cur...,2016,2021,Household Population,139579
70067,98608,NaN,4.030001e+10,2016-08-09,3081,TSW,Stormwater,DRAIN OUTFALL,NaT,In Process,...,NaN,Web,NaN,OT02726,SS-018572,CMP storm drain from Meadow Lark Dr. to channe...,2016,2021,Household Population,159828
70068,98792,91703.0,NaN,2016-08-10,3080,TSW,Sidewalk Repair Issue,Curb Maintenance,NaT,In Process,...,NaN,Mobile,NaN,NaN,SS-000937,This was damaged when city was fixing a sink w...,2016,2021,Household Population,139579
70069,99646,NaN,4.030000e+10,2016-08-15,3075,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,NaN,Web,NaN,SS-017879-PV1,SS-017879,NaN,2016,2021,Household Population,139579

In [113]:
final_population.head(
)

     council_district  year             long_name  council district population
44                NaN  2021  Household Population                      1854255
92                1.0  2021  Household Population                       161394
140               2.0  2021  Household Population                       153544
188               3.0  2021  Household Population                       198555
236               4.0  2021  Household Population                       126873

In [114]:
final_population.drop(columns=['year'],inplace=True)

In [115]:
merged_list = pd.merge(sandiego, final_population, on=['council_district'])

In [116]:
merged_list

,service_request_id,service_request_parent_id,sap_notification_number,date_requested,case_age_days,case_record_type,service_name,service_name_detail,date_closed,status,...,comm_plan_name,park_name,case_origin,referred,iamfloc,floc,public_description,year,long_name,council district population
0,100763,NaN,4.030001e+10,2016-08-20,3070,TSW,Street Sweeping,NaN,NaT,In Process,...,Mid-City:City Heights,NaN,Web,NaN,SS-014304,SS-001240,A) The storm drain channel south of 5135 Univ...,2016,Household Population,139579
1,100777,NaN,4.030001e+10,2016-08-20,3070,TSW,Sidewalk Repair Issue,SIDEWALK MINOR REHAB CONTRACT,NaT,In Process,...,Mid-City:Normal Heights,NaN,Web,NaN,SS-000917-SE1,SS-000917,Curb in rubble,2016,Household Population,139579
2,100985,NaN,4.030001e+10,2016-08-22,3068,TSW,Stormwater,DRAIN HEADWALL,NaT,In Process,...,Mira Mesa,NaN,Phone,NaN,HW01082,SS-019619,HILLSIDE ERODING - POSSIBLE BROKEN DRAIN,2016,Household Population,140195
3,101169,NaN,4.030001e+10,2016-08-23,3067,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,Southeastern San Diego,NaN,Web,NaN,SS-019686-PV1,SS-019686,Large sections of curb broke off and have been...,2016,Household Population,129935
4,101707,NaN,4.030000e+10,2016-08-25,3065,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,Southeastern San Diego,NaN,Web,NaN,SS-020300-PV1,SS-020300,the curb in front of 2220 Ocean View Blvd. nee...,2016,Household Population,129935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70065,96860,NaN,4.030001e+10,2016-07-31,3090,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,Mid-City:Eastern Area,NaN,Mobile,NaN,SS-024832-PV1,SS-024832,Water sits due to last work done on street. Wa...,2016,Household Population,139579
70066,97713,NaN,4.030001e+10,2016-08-04,3086,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,College Area,NaN,Mobile,NaN,SS-018708-PV1,SS-018708,There is stagnant water puddled beside the cur...,2016,Household Population,139579
70067,98608,NaN,4.030001e+10,2016-08-09,3081,TSW,Stormwater,DRAIN OUTFALL,NaT,In Process,...,Serra Mesa,NaN,Web,NaN,OT02726,SS-018572,CMP storm drain from Meadow Lark Dr. to channe...,2016,Household Population,159828
70068,98792,91703.0,NaN,2016-08-10,3080,TSW,Sidewalk Repair Issue,Curb Maintenance,NaT,In Process,...,Mid-City:Normal Heights,NaN,Mobile,NaN,NaN,SS-000937,This was damaged when city was fixing a sink w...,2016,Household Population,139579
70069,99646,NaN,4.030000e+10,2016-08-15,3075,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,Mid-City:Normal Heights,NaN,Web,NaN,SS-017879-PV1,SS-017879,NaN,2016,Household Population,139579

In [117]:
district_counts = merged_list['council_district'].value_counts()

In [118]:
district_counts.reset_index().sort_values('council_district')

   council_district  count
3               1.0   7956
1               2.0   9579
0               3.0  15922
6               4.0   4332
7               5.0   4250
8               6.0   4034
5               7.0   4927
4               8.0   5366
2               9.0   8980

In [119]:
merged_districts = pd.merge(district_counts, final_population, on='council_district')

In [120]:
merged_districts.head()

   council_district  count             long_name  council district population
0               3.0  15922  Household Population                       198555
1               2.0   9579  Household Population                       153544
2               9.0   8980  Household Population                       139579
3               1.0   7956  Household Population                       161394
4               8.0   5366  Household Population                       129935

In [121]:
merged_districts = merged_districts.reset_index()

In [122]:
merged_districts

,index,council_district,count,long_name,council district population
0,0,3.0,15922,Household Population,198555
1,1,2.0,9579,Household Population,153544
2,2,9.0,8980,Household Population,139579
3,3,1.0,7956,Household Population,161394
4,4,8.0,5366,Household Population,129935
5,5,7.0,4927,Household Population,159828
6,6,4.0,4332,Household Population,126873
7,7,5.0,4250,Household Population,154900
8,8,6.0,4034,Household Population,140195

In [123]:
merged_districts['reports per capita'] = merged_districts['count']/merged_districts['council district population']

In [124]:
merged_districts

,index,council_district,count,long_name,council district population,reports per capita
0,0,3.0,15922,Household Population,198555,0.080189
1,1,2.0,9579,Household Population,153544,0.062386
2,2,9.0,8980,Household Population,139579,0.064336
3,3,1.0,7956,Household Population,161394,0.049296
4,4,8.0,5366,Household Population,129935,0.041298
5,5,7.0,4927,Household Population,159828,0.030827
6,6,4.0,4332,Household Population,126873,0.034144
7,7,5.0,4250,Household Population,154900,0.027437
8,8,6.0,4034,Household Population,140195,0.028774

In [125]:
merged_districts['reports per capita']*1000

0    80.189368
1    62.386026
2    64.336326
3    49.295513
4    41.297572
5    30.826889
6    34.144381
7    27.437056
8    28.774207
Name: reports per capita, dtype: float64

In [126]:
merged_districts['per 1000 residents'] = merged_districts['reports per capita']*1000

In [127]:
merged_districts

,index,council_district,count,long_name,council district population,reports per capita,per 1000 residents
0,0,3.0,15922,Household Population,198555,0.080189,80.189368
1,1,2.0,9579,Household Population,153544,0.062386,62.386026
2,2,9.0,8980,Household Population,139579,0.064336,64.336326
3,3,1.0,7956,Household Population,161394,0.049296,49.295513
4,4,8.0,5366,Household Population,129935,0.041298,41.297572
5,5,7.0,4927,Household Population,159828,0.030827,30.826889
6,6,4.0,4332,Household Population,126873,0.034144,34.144381
7,7,5.0,4250,Household Population,154900,0.027437,27.437056
8,8,6.0,4034,Household Population,140195,0.028774,28.774207

In [128]:
alt.Chart(merged_districts).mark_circle().encode(
    size = 'per 1000 residents',
    y=alt.Y('council_district').sort('-size'),
    tooltip='per 1000 residents',
).properties(
    title='San Diego 311 Reports by Council District'
)

alt.Chart(...)